<div class="container">
  <div class="row">
    <div class="mx-auto">
      <div class="col-7 bg-light text-black">管理者ログイン</div><br>
      <%= form_with model: @admin, url: admin_session_path do |f| %>
      
      <div class="form-group">
        <div class="row">
          <div class="col-4">メールアドレス</div>
          <div class="col-6"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-4">パスワード</div>
          <div class="col-6"><%= f.password_field :password, autocomplete: "current-password" %></div>
        </div>
      </div>
      <div class="form-group">
       <div class="row">
        <div class="col-4 offset-3"><button class="btn btn-primary">ログイン</button></div>
       </div>
      </div>
      <% end %>
 </div>
</div>